SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/CP
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_JPA_HIBERNATE_DDL_AUTO=create
SPRING_JPA_SHOW_SQL=true

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
# SPRING_DATA_REDIS_PASSWORD=

SPRING_MAIL_HOST=mailhog
SPRING_MAIL_PORT=1025
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_SMTP_AUTH=false
SPRING_MAIL_SMTP_STARTTLS_ENABLE=false
APP_MAIL_FROM=no-reply@collaboration-platform.local
MAILHOG_UI_URL=http://localhost:8025

APP_JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
APP_JWT_ACCESS_TOKEN_EXPIRATION=900000
APP_JWT_REFRESH_TOKEN_EXPIRATION=604800000
APP_COOKIE_SECURE=false
APP_FRONTEND_URL=http://localhost:4200
APP_EMAIL_VERIFICATION_EXPIRY_HOURS=24

APP_CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000
